# Ignore all python's byte code files (python compiled code file )
*.pyc
scripts/*.pyc

# Others
00_git_setup_usage.sh
*.*~
*/*.*~
plots/A_over_C_combined_with_B_over_D_volcano_plots_combined_volcano_plot.png

